<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-80" src="assets/img/logo/logo.svg" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">{{ "registerForAnAccount" | translate }}</h2>
      <h4 class="body-2 text-secondary m-0">
        {{ "simplyFillOutTheFormBelow" | translate }}
      </h4>
    </div>

    <div [formGroup]="registerationForm" class="p-6 flex flex-col">
      <div class="flex flex-col sm:flex-row sm:gap-4 mb-3">
        <mat-form-field class="flex-auto">
          <mat-label id="fullname">{{ "fullname" | translate }}</mat-label>
          <input id="fullname" formControlName="fullname" matInput required />
          <mat-error
            *ngIf="registerationForm.controls['fullname'].hasError('required')">
            {{ "requiredFullname" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              registerationForm.controls['fullname'].hasError('minlength')
            ">
            {{ "minLengthFullname" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label id="companyName">{{
            "companyName" | translate
          }}</mat-label>
          <input
            id="companyName"
            formControlName="companyName"
            matInput
            required />
          <mat-error
            *ngIf="
              registerationForm.controls['companyName'].hasError('required')
            ">
            {{ "requiredCompanyName" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="flex-1 block mb-3">
        <mat-label id="phone">{{ "phone" | translate }}</mat-label>
        <input id="phone" formControlName="phone" matInput required />
        <mat-error
          *ngIf="registerationForm.controls['phone'].hasError('required')">
          {{ "requiredPhone" | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            registerationForm.controls['phone'].hasError('minlength') &&
            !registerationForm.controls['phone'].hasError('pattern')
          ">
          {{ "minLengthPhone" | translate }}
        </mat-error>
        <mat-error
          *ngIf="
            registerationForm.controls['phone'].hasError('maxlength') &&
            !registerationForm.controls['phone'].hasError('pattern')
          ">
          {{ "maxLengthPhone" | translate }}
        </mat-error>
        <mat-error
          *ngIf="registerationForm.controls['phone'].hasError('pattern')">
          {{ "errorPatternPhone" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="flex-1 block mb-3">
        <mat-label id="email">{{ "email" | translate }}</mat-label>
        <input id="email" formControlName="email" matInput required />
        <mat-error
          *ngIf="registerationForm.controls['email'].hasError('required')">
          {{ "requiredEmail" | translate }}
        </mat-error>
        <mat-error
          *ngIf="registerationForm.controls['email'].hasError('email')">
          {{ "errorEmail" | translate }}
        </mat-error>
      </mat-form-field>

      <div class="flex flex-col sm:flex-row sm:gap-4 mb-3">
        <mat-form-field class="flex-auto">
          <mat-label id="password">{{ "password" | translate }}</mat-label>
          <input
            id="password"
            [type]="inputType"
            formControlName="password"
            matInput
            required />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            [matTooltip]="
              visible
                ? ('hidePassword' | translate)
                : ('showPassword' | translate)
            "
            type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-error
            *ngIf="registerationForm.controls['password'].hasError('required')">
            {{ "requiredPassword" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              registerationForm.controls['password'].hasError('minlength')
            ">
            {{ "minLengthPassword" | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="flex-auto">
          <mat-label id="confirmPassword">{{
            "confirmPassword" | translate
          }}</mat-label>
          <input
            id="confirmPassword"
            [type]="inputType"
            formControlName="confirmPassword"
            [errorStateMatcher]="matcher"
            matInput
            required />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matIconSuffix
            [matTooltip]="
              visible
                ? ('hidePassword' | translate)
                : ('showPassword' | translate)
            "
            type="button">
            <mat-icon *ngIf="visible" svgIcon="mat:visibility"></mat-icon>
            <mat-icon *ngIf="!visible" svgIcon="mat:visibility_off"></mat-icon>
          </button>
          <mat-error *ngIf="registerationForm.hasError('notMatch')">
            {{ "passwordsDontMatch" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex items-center justify-center mb-3">
        <mat-checkbox class="checkbox" formControlName="terms">
          <a href="https://www.mdd.sa/terms-and-conditions" target="_blank">
            {{ "iAcceptTheTermsAndConditions" | translate }}
          </a>
          <mat-error
            *ngIf="
              registerationForm.controls['terms'].hasError('required') &&
              registerationForm.controls['terms'].touched
            ">
            {{ "requiredCheckTerms" | translate }}
          </mat-error>
        </mat-checkbox>
      </div>
      <button
        (click)="register()"
        [disabled]="isLoading"
        color="primary"
        class="mb-5"
        mat-raised-button
        type="button">
        {{ "create" | translate }}
      </button>
      <p class="text-secondary text-center">
        {{ "alreadyHaveAnAccount" | translate }}
        <br />
        <a [routerLink]="['/auth/login']">{{ "signInHere" | translate }}</a>
      </p>
    </div>
  </div>
</div>
