<vex-page-layout>
  <vex-page-layout-header
    class="pb-10 flex flex-col items-start justify-center">
    <div class="w-full flex flex-col sm:flex-row justify-between container">
      <div>
        <h1 class="title mt-0 mb-1">{{ "productsPrices" | translate }}</h1>
        <vex-breadcrumbs [crumbs]="['app', 'productsPrices']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-6 container">
    @if (isLoadingResults || isRateLimitReached || isLoading) {
      <div class="loading-shade">
        @if (isLoadingResults) {
          <mat-spinner></mat-spinner>
        }
        @if (isRateLimitReached) {
          <div class="rate-limit-reached">
            {{ "rateLimitReached" | translate }}
          </div>
        }
      </div>
    }

    <div class="card overflow-auto -mt-16">
      <div class="px-6 h-16 border-b sticky left-0 flex items-center">
        <mat-form-field subscriptSizing="dynamic">
          <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
          <input
            matInput
            [formControl]="searchCtrl"
            placeholder="{{ 'search' | translate }}&hellip;"
            type="text" />
        </mat-form-field>

        <span class="flex-1"></span>
        <button
          (click)="exportExcel()"
          color="primary"
          mat-mini-fab
          [matTooltip]="'exportProductsPrices' | translate"
          type="button">
          <mat-icon svgIcon="mat:cloud_download"></mat-icon>
        </button>
        <button
          (click)="createProductsPrice()"
          class="mx-4 flex-none"
          color="primary"
          mat-mini-fab
          [matTooltip]="'addProductsPrices' | translate"
          type="button">
          <mat-icon svgIcon="mat:add"></mat-icon>
        </button>
      </div>

      <table
        @stagger
        [dataSource]="productsPrices"
        class="w-full"
        mat-table
        matSort>
        <ng-container matColumnDef="skuNumber">
          <th mat-header-cell *matHeaderCellDef class="font-semibold">
            {{ "skuNumber" | translate }}
          </th>
          <td mat-cell *matCellDef="let row">{{ row.skuNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef class="font-semibold">
            {{ "productName" | translate }}
          </th>
          <td mat-cell *matCellDef="let row">{{ row.productName }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="font-semibold">
            {{ "price" | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.price | number: "1.2-2" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isFixedPrice">
          <th mat-header-cell *matHeaderCellDef class="font-semibold">
            {{ "isFixedPrice" | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.isFixedPrice ? "&#x2705;" : "&#x274C;" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expiryDate">
          <th mat-header-cell *matHeaderCellDef class="font-semibold">
            {{ "expiryDate" | translate }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.expiryDate | date: "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          @fadeInUp
          class="hover:bg-hover transition duration-400 ease-out-swift"
          *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        [length]="totalRecords"
        class="sticky left-0"></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
