 

<router-outlet></router-outlet>

<div class="bg-foreground py-16 px-6 footer">
  <h2 class="display-1 mt-0 mb-4 text-center">Still have questions?</h2>
  <h3 class="subheading-2 text-hint text-center max-w-lg mx-auto m-0">
    A wonderful serenity has taken possession of my entire soul, like these
    sweet mornings of spring which I enjoy with my whole heart.
  </h3>

  <div class="mt-16 max-w-3xl mx-auto grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="text-center p-6 border rounded">
      <mat-icon class="text-hint icon-3xl" svgIcon="mat:phone"></mat-icon>
      <h3 class="title mb-0 mt-4">920003678</h3>
      <h4 class="subheading-2 m-0 text-hint">
        Call us anytime for a quick solution
      </h4>
    </div>

    <div class="text-center p-6 border rounded">
      <mat-icon class="text-hint icon-3xl" svgIcon="mat:mail"></mat-icon>
      <h3 class="title mb-0 mt-4">support&#64;mdd.sa</h3>
      <h4 class="subheading-2 m-0 text-hint">
        Send us a mail to resolve your issue
      </h4>
    </div>
  </div>
</div>
