<div class="mt-6 flex flex-col md:flex-row md:items-start">
  <div class="w-full">
    <form (ngSubmit)="updateVendor()" [formGroup]="form">
      <div class="card">
        <div class="px-6 py-3">
          <mat-form-field class="py-3 flex items-center">
            <mat-label id="name">{{ "name" | translate }}</mat-label>
            <input
              id="name"
              cdkFocusInitial
              formControlName="name"
              matInput
              required />
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              {{ "requiredName" | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['name'].hasError('minlength')">
              {{ "minLengthName" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="py-3 flex items-center">
            <mat-label id="phone">{{ "phone" | translate }}</mat-label>
            <input id="phone" formControlName="mobile" matInput required />
            <mat-error *ngIf="form.controls['mobile'].hasError('required')">
              {{ "requiredPhone" | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                form.controls['mobile'].hasError('minlength') &&
                !form.controls['mobile'].hasError('pattern')
              ">
              {{ "minLengthPhone" | translate }}
            </mat-error>
            <mat-error
              *ngIf="
                form.controls['mobile'].hasError('maxlength') &&
                !form.controls['mobile'].hasError('pattern')
              ">
              {{ "maxLengthPhone" | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['mobile'].hasError('pattern')">
              {{ "errorPatternPhone" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="py-3 flex items-center">
            <mat-label id="email">{{ "email" | translate }}</mat-label>
            <input id="email" formControlName="email" matInput required />
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              {{ "requiredEmail" | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('email')">
              {{ "errorEmail" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="py-3 flex items-center">
            <mat-label id="address">{{ "address" | translate }}</mat-label>
            <input id="address" formControlName="address" matInput required />
            <mat-error *ngIf="form.controls['address'].hasError('required')">
              {{ "requiredAddress" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="py-3 flex items-center">
            <mat-label id="cityName">{{ "cityName" | translate }}</mat-label>
            <mat-select id="cityName" formControlName="cityID" required>
              @for (city of cities; track city) {
                <mat-option [value]="city.id">
                  {{ city.textAr ?? city.textEn }}
                </mat-option>
              }
            </mat-select>
            @if (form.controls["cityID"].hasError("required")) {
              <mat-error> {{ "requiredCityName" | translate }} </mat-error>
            }
          </mat-form-field>

          <mat-form-field class="py-3 flex items-center">
            <mat-label id="categoryName">
              {{ "categoryName" | translate }}
            </mat-label>
            <mat-select
              id="categoryName"
              formControlName="categoryIDs"
              required
              [multiple]="true">
              @for (category of categories; track category) {
                <mat-option [value]="category.id">
                  {{ category.textAr ?? category.textEn }}
                </mat-option>
              }
            </mat-select>
            @if (form.controls["categoryIDs"].hasError("required")) {
              <mat-error> {{ "requiredCategoryName" | translate }} </mat-error>
            }
          </mat-form-field>

          <mat-form-field class="py-3 flex items-center">
            <mat-label id="crNumber">{{ "crNumber" | translate }}</mat-label>
            <input id="crNumber" formControlName="crNumber" matInput required />
            <mat-error *ngIf="form.controls['crNumber'].hasError('required')">
              {{ "requiredCrNumber" | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="py-3 flex items-center">
            <mat-label id="vatNumber">{{ "vatNumber" | translate }}</mat-label>
            <input
              id="vatNumber"
              formControlName="vatNumber"
              matInput
              required />
            <mat-error *ngIf="form.controls['vatNumber'].hasError('required')">
              {{ "requiredVatNumber" | translate }}
            </mat-error>
          </mat-form-field>

          <div class="flex justify-end">
            <button
              mat-raised-button
              color="primary"
              [disabled]="isLoading"
              type="submit">
              @if (isLoading) {
                <mat-spinner [diameter]="20"> </mat-spinner>
              } @else {
                {{ "update" | translate }}
              }
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
