<vex-page-layout>
  <vex-page-layout-header
    class="pb-10 flex flex-col items-start justify-center">
    <div class="w-full flex flex-col sm:flex-row justify-between container">
      <div>
        <h1 class="title mt-0 mb-1">{{ "contacts" | translate }}</h1>
        <vex-breadcrumbs [crumbs]="['features', 'contacts']"></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content class="-mt-6 container">
    <div class="card overflow-auto -mt-16">
      <div
        class="bg-app-bar px-6 h-16 border-b sticky left-0 flex items-center">
        <mat-form-field subscriptSizing="dynamic">
          <mat-icon matIconPrefix svgIcon="mat:search"></mat-icon>
          <input
            matInput
            [formControl]="searchCtrl"
            placeholder="Search&hellip;"
            type="text" />
        </mat-form-field>

        <span class="flex-1"></span>
      </div>

      <table
        @stagger
        [dataSource]="dataSource"
        class="w-full"
        mat-table
        matSort>
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns">
          <ng-container
            *ngIf="column.type === 'text'"
            [matColumnDef]="column.property">
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header>
              {{ column.label | translate }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row[column.property] }}
            </td>
          </ng-container>
          <ng-container
            *ngIf="column.type === 'number'"
            [matColumnDef]="column.property">
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header>
              {{ column.label | translate }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row[column.property] | number: "1.2-2" }}
            </td>
          </ng-container>
          <ng-container
            *ngIf="column.type === 'date'"
            [matColumnDef]="column.property">
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header>
              {{ column.label | translate }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              {{ row[column.property] | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button
              mat-icon-button
              type="button"
              class="text-teal-600 bg-teal/10">
              <mat-icon svgIcon="mat:download"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: visibleColumns"
          @fadeInUp
          class="hover:bg-hover transition duration-400 ease-out-swift"
          mat-row></tr>
      </table>

      <mat-paginator
        [pageSize]="search.limit"
        [length]="totalRecords"
        (page)="fetchContacts($event)"
        class="sticky left-0"></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
